#instagram {
    background-color: white;
    color: purple;
    transition: 0.10s;
    border: 1px solid purple;
}

#instagram:hover {
    background: linear-gradient(blue,purple,red, orange);
}

body{
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(to bottom,rgb(0, 140, 255), #80FFDB);
}

#card{
    background-color: aliceblue;
}

#second-container{
   position: relative;
   left: 12.5rem;
}
